{% extends "layout.html" %}

{% block content %}
    <h3>Reports for the month of January</h3>
	<table class="table">
		<tr>
			<td>report_01_10_2014.html</td>
			<td><a href="{{ url_for('report1') }}">View</a></td>
		</tr>
		<tr>
			<td>report_01_11_2014.html</td>
			<td>View</td>
		</tr>
		<tr>
			<td>report_01_12_2014.html</td>
			<td>View</td>
		</tr>
		<tr>
			<td>report_01_13_2014.html</td>
			<td>View</td>
		</tr>
		<tr>
			<td>report_01_14_2014.html</td>
			<td>View</td>
		</tr>
		<tr>
			<td>report_01_15_2014.html</td>
			<td>View</td>
		</tr>
		<tr>
			<td>report_01_16_2014.html</td>
			<td>View</td>
		</tr>
		<tr>
			<td>report_01_17_2014.html</td>
			<td>View</td>
		</tr>
		<tr>
			<td>report_01_18_2014.html</td>
			<td>View</td>
		</tr>
		<tr>
			<td>report_01_19_2014.html</td>
			<td>View</td>
		</tr>
	</table>
{% endblock %}