{% extends "layout.html" %}

{% block content %}
	<div class="container-fluid">
		<div class="row">
			<div class="col-sm-9">
				<h3>Reports for REDCap runs from -/-/- to -/-/-</h3>
			</div>
			<div class="col-sm-3">
				<br><br><br>
				<p>Showing - of -</p>
			</div>
		</div>
	</div>
    
	<table class="table">
		<tr>
			<td>report_01_10_2014.html</td>
			<td><a href="{{ url_for('report1') }}">View</a></td>
		</tr>
		<tr>
			<td>report_01_11_2014.html</td>
			<td>View</td>
		</tr>
		<tr>
			<td>report_01_12_2014.html</td>
			<td>View</td>
		</tr>
		<tr>
			<td>report_01_13_2014.html</td>
			<td>View</td>
		</tr>
		<tr>
			<td>report_01_14_2014.html</td>
			<td>View</td>
		</tr>
		<tr>
			<td>report_01_15_2014.html</td>
			<td>View</td>
		</tr>
		<tr>
			<td>report_01_16_2014.html</td>
			<td>View</td>
		</tr>
		<tr>
			<td>report_01_17_2014.html</td>
			<td>View</td>
		</tr>
		<tr>
			<td>report_01_18_2014.html</td>
			<td>View</td>
		</tr>
		<tr>
			<td>report_01_19_2014.html</td>
			<td>View</td>
		</tr>
	</table>
	<p align="right">1 | <a href="#">2</a></p>
	<p><a href="#">View Older</a>&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;<a href="#">Select a different range</a></p>
{% endblock %}